USE [master]
GO
/****** Object:  Database [VehiculosSOAPDB]    Script Date: 11/09/2026 10:46:19 p. m. ******/
CREATE DATABASE [VehiculosSOAPDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VehiculosSOAPDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\VehiculosSOAPDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VehiculosSOAPDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\VehiculosSOAPDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VehiculosSOAPDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VehiculosSOAPDB]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 11/09/2026 10:46:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](250) NOT NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mantenimiento]    Script Date: 11/09/2026 10:46:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mantenimiento](
	[IdMantenimiento] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Tipo] [varchar](100) NOT NULL,
	[Descripcion] [varchar](200) NOT NULL,
	[Costo] [decimal](10, 2) NOT NULL,
	[Kilometraje] [decimal](10, 2) NOT NULL,
	[Estado] [bit] NOT NULL,
	[IdVehiculo] [int] NOT NULL,
 CONSTRAINT [PK_Mantenimiento] PRIMARY KEY CLUSTERED 
(
	[IdMantenimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehiculo]    Script Date: 11/09/2026 10:46:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculo](
	[IdVehiculo] [int] IDENTITY(1,1) NOT NULL,
	[Placa] [varchar](20) NOT NULL,
	[Marca] [varchar](100) NOT NULL,
	[Modelo] [varchar](100) NOT NULL,
	[Anio] [int] NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Estado] [bit] NOT NULL,
	[IdCategoria] [int] NOT NULL,
 CONSTRAINT [PK_Vehiculo] PRIMARY KEY CLUSTERED 
(
	[IdVehiculo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([IdCategoria], [Nombre], [Descripcion], [Estado]) VALUES (1, N'Hatchback', N'Vehículos compactos maniobrables ideales para tráfico urbano.', 1)
INSERT [dbo].[Categoria] ([IdCategoria], [Nombre], [Descripcion], [Estado]) VALUES (2, N'Crossover', N'Vehículos urbanos con altura elevada y confort de conducción.', 1)
INSERT [dbo].[Categoria] ([IdCategoria], [Nombre], [Descripcion], [Estado]) VALUES (3, N'Pickup Carga', N'Camionetas diseñadas para transporte industrial y mercadería.', 1)
SET IDENTITY_INSERT [dbo].[Categoria] OFF
GO
SET IDENTITY_INSERT [dbo].[Mantenimiento] ON 

INSERT [dbo].[Mantenimiento] ([IdMantenimiento], [Fecha], [Tipo], [Descripcion], [Costo], [Kilometraje], [Estado], [IdVehiculo]) VALUES (3, CAST(N'2026-03-10' AS Date), N'Alineación y balanceo', N'Alineación de dirección y rotación de neumáticos', CAST(65.00 AS Decimal(10, 2)), CAST(12500.00 AS Decimal(10, 2)), 1, 2)
INSERT [dbo].[Mantenimiento] ([IdMantenimiento], [Fecha], [Tipo], [Descripcion], [Costo], [Kilometraje], [Estado], [IdVehiculo]) VALUES (4, CAST(N'2026-04-18' AS Date), N'Sistema de Suspensión', N'Reemplazo de amortiguadores delanteros', CAST(320.00 AS Decimal(10, 2)), CAST(45000.00 AS Decimal(10, 2)), 1, 3)
INSERT [dbo].[Mantenimiento] ([IdMantenimiento], [Fecha], [Tipo], [Descripcion], [Costo], [Kilometraje], [Estado], [IdVehiculo]) VALUES (5, CAST(N'2026-05-05' AS Date), N'Sistema Eléctrico', N'Diagnóstico computarizado y cambio de batería', CAST(140.00 AS Decimal(10, 2)), CAST(28000.00 AS Decimal(10, 2)), 1, 4)
SET IDENTITY_INSERT [dbo].[Mantenimiento] OFF
GO
SET IDENTITY_INSERT [dbo].[Vehiculo] ON 

INSERT [dbo].[Vehiculo] ([IdVehiculo], [Placa], [Marca], [Modelo], [Anio], [Precio], [Estado], [IdCategoria]) VALUES (2, N'PCH-4052', N'Suzuki', N'Swift', 2023, CAST(17500.00 AS Decimal(10, 2)), 1, 1)
INSERT [dbo].[Vehiculo] ([IdVehiculo], [Placa], [Marca], [Modelo], [Anio], [Precio], [Estado], [IdCategoria]) VALUES (3, N'GSU-8120', N'Ford', N'Ranger', 2025, CAST(38500.00 AS Decimal(10, 2)), 1, 3)
INSERT [dbo].[Vehiculo] ([IdVehiculo], [Placa], [Marca], [Modelo], [Anio], [Precio], [Estado], [IdCategoria]) VALUES (4, N'Azu-1903', N'Hyundai', N'Creta', 2024, CAST(24200.00 AS Decimal(10, 2)), 1, 2)
SET IDENTITY_INSERT [dbo].[Vehiculo] OFF
GO
ALTER TABLE [dbo].[Mantenimiento]  WITH CHECK ADD  CONSTRAINT [FK_Mantenimiento_Vehiculo] FOREIGN KEY([IdVehiculo])
REFERENCES [dbo].[Vehiculo] ([IdVehiculo])
GO
ALTER TABLE [dbo].[Mantenimiento] CHECK CONSTRAINT [FK_Mantenimiento_Vehiculo]
GO
ALTER TABLE [dbo].[Vehiculo]  WITH CHECK ADD  CONSTRAINT [FK_Vehiculo_Categoria] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categoria] ([IdCategoria])
GO
ALTER TABLE [dbo].[Vehiculo] CHECK CONSTRAINT [FK_Vehiculo_Categoria]
GO
USE [master]
GO
